<div class="body">
    <div>
        <img src="./assets/profile.jpg" alt="" class="profile">
        </div>
        <div class="line"></div>
        <p class="text">
            Hey, My name is Divyanshu Singh, I am student of 3rd year Currently I am prusing Bachelor's of Technology form United College of Engineering And Research branch Computer Science and Engineering. I live in allahabad.
            <br><br>
            
I am certified FULL STACK developer. I have good knowledge of Data Structure , Algorithm and exploring my self.
<br><br>
I solved daily few  problem on ,Leatcode and Hacker Rank .
        </p>
</div>
